.calendar-figure1{
    position: relative;
    width: 130px;
    height: 30px;
    left: 68%;
    top: 30px;
    background: #3D84FC;
}

.calendar-figure2{
    position: relative;
    width: 130px;
    height: 30px;
    left: 65%;
    top: 50px;
    background: #3D84FC;
    transform: rotate(90deg);
    z-index: 6;
}

.calendar-figure3{
    position: relative;
    width: 130px;
    height: 30px;
    left: 1771px;
    top: 120px;
    background: #3D84FC;
    transform: rotate(-90deg);
}

.calendar-figure4{
    position: relative;
    width: 130px;
    height: 30px;
    left: 1700px;
    top: 140px;
    background: #3D84FC;
    transform: rotate(-180deg);
}

.calendar-tit{
    position: absolute;
    background-color: #eeeeee;
    padding: 3% 5% 3% 5%;
    left: 76%;
    top: 8%;
}

.C-contents{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
}


.C-left-contents{
    position: relative;
    left: 18%;
    z-index: 6;
}

.C-left-contents .slick-slider{
    position: relative;
    top: 20%;
}

.C-right-contents{
    position: relative;
    right: 5%;
    width: 50%;
    z-index: 5;
}


.c-left-contents{
    position: relative;
    left: 18%;
    z-index: 6;
}

.month{
    font-size: 32px;
    font-weight: bold;
    color: #3D84FC;
}
/*캘린더*/
.c-container {
    position: absolute;
    top: 534%;
    left: 70.5%;
    transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: black;
    border: solid 1px #eeeeee;
}

th {
	text-align: left;
}

thead th{
	background-color: #3D84FC;
}

tbody tr:hover {
	background-color: rgba(255,255,255,0.3);
}

tbody td{
    position: relative;
}

tbody td::before{
    content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -9999px;
	bottom: -9999px;
	background-color: rgba(255,255,255,0.2);
	z-index: -1;
}

.slick-slider{
    left: -150px;
    width: 850px;
    background-color: #ffffff;
    height: 500px;
}